.toolbar-title {
  font-size: 20px;
  font-weight: bold;
}

.kpi-card {
  text-align: center;
}

.kpi-title {
  font-size: 16px;
  margin-top: 8px;
}

.kpi-value {
  font-size: 28px;
  font-weight: bold;
}

.margen-rojo {
  color: #e53935;
}
.margen-naranja {
  color: #fb8c00;
}
.margen-amarillo {
  color: #fdd835;
}
.margen-verde {
  color: #43a047;
}

.chart-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}
