/* You can add global styles to this file, and also import other style files */
/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles can also go here if preferred globally */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}